In [ ]:
import pandas as pd
students_class = { "Bob": "Physics",
                  "Alice": "Chemistry",
                  "Ana": "Biology" }

In [ ]:
# Ndarray unidimensional con ejes etiquetados
s = pd.Series(students_class)
s

Bob        Physics
Alice    Chemistry
Ana        Biology
dtype: object

In [ ]:
# https://pandas.pydata.org/docs/reference/series.html
print(type(s.index))
s.index

<class 'pandas.core.indexes.base.Index'>

Index(['Bob', 'Alice', 'Ana'], dtype='object')

In [ ]:
#Forma de acceder a los elementos con el número del indice
s.iloc[2]

'Biology'

In [ ]:
#Forma de acceder a los indices
s.loc["Alice"]

'Chemistry'

In [ ]:
s.Bob

'Physics'

### Definición clave valor con enteros como clave.

In [ ]:
class_code = {99:"Physics",
              100:"Chemistry",
              101:"English" }

In [ ]:
s = pd.Series(class_code)

In [ ]:
s

99       Physics
100    Chemistry
101      English
dtype: object

In [ ]:
s.iloc[2]

'English'

In [ ]:
s.loc[99]

'Physics'

Tambien podemos definir el objeto Serie  a partir de una lista

In [ ]:
grades = pd.Series([8,7,10,1])

In [ ]:
grades

0     8
1     7
2    10
3     1
dtype: int64

In [ ]:
for i, g in enumerate(grades):
  print(i,g)

0 8
1 7
2 10
3 1

In [ ]:
grades.mean()

6.5

In [ ]:
grades.describe()

count     4.000000
mean      6.500000
std       3.872983
min       1.000000
25%       5.500000
50%       7.500000
75%       8.500000
max      10.000000
dtype: float64

Definicion a través de un  numpy array

In [ ]:
x = np.random.randint(0,20, 100)
random_s = pd.Series(x)

In [ ]:
random_s

0     10
1      0
2      3
3     19
4     18
      ..
95    19
96    12
97     7
98     2
99    11
Length: 100, dtype: int64

In [ ]:
random_s.head()

0    10
1     0
2     3
3    19
4    18
dtype: int64

In [ ]:
#Recorrido por las claves y valores, el metodo head es considerado para mostrar pocos valores

for index, values in random_s.head().iteritems():
  print(index, values)

0 10
1 0
2 3
3 19
4 18

In [ ]:
%%timeit -n 100
x = np.random.randint(0,20, 100)
random_s = pd.Series(x)
random_s+=2 # OPeraciones vectoriales a todo el data frame, más eficiente.

#Comparar cuando se tiene un ciclo para realizar la suma, ¿cuál es mas eficiente?

100 loops, best of 5: 163 µs per loop

Agregando nuevos valores con indices diferentes

In [ ]:
s = pd.Series([1,2,3,4,9])

In [ ]:
s.loc["nuevo"]=2

In [ ]:
s

0        1
1        2
2        3
3        4
4        9
nuevo    2
dtype: int64

In [ ]:
s.loc["nuevo"]

2

In [ ]:
s["nuevo"]

2

In [ ]:
s.iloc[-1]

2

Otra *forma* de definir una serie es a través de :

In [ ]:
juan_class = pd.Series(["a", "b","c"], index=["0","1","2"])

In [ ]:
juan_class

0    a
1    b
2    c
dtype: object

# Data Frame



Un DataFrame es una lista  de series

In [ ]:
d1 = { "Name":"Juan", "Topic":"Quantum Mechanics", "Score" : 10}
d2 = { "Name":"Pedro", "Topic":"statistical", "Score" : 10}
d3 = { "Name":"Ana", "Topic":"Clasical Mechanics", "Score" : 10}

record1 = pd.Series(d1)
record2 = pd.Series(d2)
record3 = pd.Series(d3)

In [ ]:
# indices con números enteros
df1 = pd.DataFrame( [record1, record2, record3] )
df1

    Name               Topic  Score
0   Juan   Quantum Mechanics     10
1  Pedro         statistical     10
2    Ana  Clasical Mechanics     10

In [ ]:
# Asignando nombre a los indices
df2 = pd.DataFrame( [record1, record2, record3] , index = ["UdeA","Unal", "ITM"] )
df2

       Name               Topic  Score
UdeA   Juan   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
#Accediendo a los indices por el nombre
df2.loc["UdeA"]

Name                  Juan
Topic    Quantum Mechanics
Score                   10
Name: UdeA, dtype: object

In [ ]:
#Accediendo a los indices por el numero
df2.iloc[0]

Name                  Juan
Topic    Quantum Mechanics
Score                   10
Name: UdeA, dtype: object

In [ ]:
#Accediendo a un elemento en particular
df2.loc["UdeA", "Name"]

'Juan'

In [ ]:
#Accediendo a algunas columnas del data frame
df2.loc[:, ["Name", "Topic"]]

       Name               Topic
UdeA   Juan   Quantum Mechanics
Unal  Pedro         statistical
ITM     Ana  Clasical Mechanics

Se recomienda crear copias del data frame cuando se esta trabajando con pandas a traves del metodo copy() y no con el operador =, dado que se comparte el mismo espacio de memoria

In [ ]:
df2

       Name               Topic  Score
UdeA   Juan   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
a = df2

In [ ]:
a

       Name               Topic  Score
UdeA   Juan   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
a.loc["UdeA", "Name"] = "JuanB"

In [ ]:
a

       Name               Topic  Score
UdeA  JuanB   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
df2

       Name               Topic  Score
UdeA  JuanB   Quantum Mechanics     10
Unal  Pedro         statistical     10
ITM     Ana  Clasical Mechanics     10

In [ ]:
b = df2.copy()

Eliminacion de columnas

In [ ]:
del b["Topic"]

In [ ]:
b

       Name  Score
UdeA  JuanB     10
Unal  Pedro     10
ITM     Ana     10

 Agregando nuevas columnas al data frame

In [ ]:
b["Nueva"] = [10, 8, 3]

In [ ]:
b

       Name  Score  Nueva
UdeA  JuanB     10     10
Unal  Pedro     10      8
ITM     Ana     10      3

# Problemas de practica

Los siguientes problemas no son entregables en el curso.


Empleando  los siguientes tiempos:
```
t = np.linspace(0, 2, 1000)
```
1. Crear un data frame de pandas para la posicion $y=ho-0.5gt^2$, $g=9.8m/s$, $h = 100 m$
2. Adicione una nueva columna para la velocidad y la aceleración.

Construya un nuevo data frame desde el tiempo t=0.5s a 1.5s, solo con las posición como funcion del tiempo.



2. Crear una clase Fracción que represente un número racional con numerador y denominador. La clase debe tener un método constructor que reciba el numerador y el denominador como argumentos, y los almacene como atributos. La clase también debe tener métodos para simplificar la fracción, sumarla con otra fracción, restarla con otra fracción, multiplicarla por otra fracción, dividirla por otra fracción, compararla con otra fracción y convertirla en un número decimal. Puedes ver una posible solución en 1.

3. Crear una clase Punto que represente un punto en el plano cartesiano con coordenadas x e y. La clase debe tener un método constructor que reciba las coordenadas x e y como argumentos, y las almacene como atributos. La clase también debe tener métodos para calcular la distancia entre dos puntos, el ángulo entre dos puntos, el punto medio entre dos puntos y el punto simétrico respecto a otro punto. Puedes ver una posible solución en 2.


4. Escribe una función que tome una lista de palabras y devuelva una lista con la longitud de cada palabra. Usa la función map para aplicar tu función a la lista de entrada. Por ejemplo, si la lista de entrada es [“hola”, “mundo”, “python”], la lista de salida debe ser [4, 5, 6].


5. Escribe una función que tome una lista de números y devuelva una lista con el cuadrado de cada número. Usa la función map para aplicar tu función a la lista de entrada. Por ejemplo, si la lista de entrada es [1, 2, 3, 4, 5], la lista de salida debe ser [1, 4, 9, 16, 25].

In [ ]:
# Exercise
#https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb